
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Hello world</p>
<a href="https://www.youtube.com">Youtube</a>
<br />
<img src="logo-topo.png" alt="Trinks Logo">
<a href="~/root.html">Root</a>